.features
  text-align: center

.feature-grid

.feature
  margin-bottom: 3rem
  font-size: .95em
  @include flexColumnCenter

  &__icon
    margin-bottom: 1em

  &__title
    margin-bottom: 1em
    font-size: 1.05em
    font-weight: 700

  &__description
    font-size: 1em
    font-weight: 300
