.newsletter
  text-align: center
  padding-bottom: 2rem

  @include mq(768px)
    text-align: left

    &__content
      padding-left: 4rem

    &__image
      max-height: 400px
      justify-self: center

  &__subtitle,
    font-size: .9rem

  &__text
    font-weight: 300
    margin-bottom: 2rem

.subscribe
  &__input
    padding: .5rem 1rem
    border-radius: 2rem
    border: 1px solid $light-color-300
    background-color: $light-color-300
    outline: none
    display: inline-block
    margin-bottom: 1rem

    &:focus
      border-color: $primary-color
